@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

@import "lib/slick/slick";
@import "lib/slick/slick-theme";

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
}

.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card {
    width: 365px;
    padding-bottom: 30px;
}

.card-img-container {
    height: 500px;
}
img {
    max-height: 100%;
    width: 365px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


ul {
    padding: 0px;
}
